.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "video video html5 html5 ." ". . . . ." ". . . . ." ". . . . .";
}

.vide0 { grid-area: video; }

.html5 { grid-area: html5;
    position: relative;
    left: 0;
}

p.text {
    display: unset;
    padding: 0 74px 0 0;
}
