@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Make dropdown links appear inline*/
    .wrapper div {
        display: inline-table;
        width: 78%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Make dropdown links appear inline*/
    p.dumbotron {
        padding: inherit;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Make dropdown links appear inline*/
    h2.intro.secondary {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Make dropdown links appear inline*/
    .wrapper div {
        display: inline-table;
        width: 78%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*Make dropdown links appear inline*/
    .wrapper div {
        display: inline-table;
        width: 78%;
    }
}
/*@media screen and (min-width: 1200px){*/
    /*.main{*/
        /*max-width: 1140px;*/
    /*}*/
/*}*/
/*@media screen and (min-width:768px) {*/
    /*.main {*/
        /*max-width: 720px;*/
    /*}*/

    /*@media screen and (min-width: 576px) {*/
        /*.main {*/
            /*max-width: 540px;*/
        /*}*/
    /*}*/
    /*@media screen and (min-width: 992px) {*/
        /*.main {*/
            /*max-width: 960px;*/
        /*}*/
    /*}*/
/*}*/