

.grid-container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.9fr 0.1fr 2.1fr 0.1fr;
    grid-template-rows: 0.1fr 1.9fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "title . . ." "text1 . . ." "text2 . . ." "seperator . . ." "knowledge . rating ." "skillset . . .";
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    padding: 10px;
}
.grid-container>div {
    text-align: center;
    padding:20px 0;
}

.title { grid-area: title; }

.text1 { grid-area: text1; }

.text2 { grid-area: text2; }

.seperator { grid-area: seperator; }

.knowledge { grid-area: knowledge; }

.skillset {
    display: grid;
    grid-template-columns: 2.9fr 0.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". . ." ". . .";
    grid-area: skillset;
}

.rating { grid-area: rating; }
