/*insert all css properties here*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body, html {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2f3036;
    text-align: left;
    background-color: #fff;
}

a label {
    cursor: pointer;
}

h2.heading {
    /*margin-bottom: 1.2rem;*/
    position: relative;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.4em;
}

h2.intro {
    position: relative;
    top: 17px;
}

div.wrapper-header {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */

    width: 1170px; /* 2 */

    padding-right: 10px; /* 3 */
    padding-left: 10px; /* 3 */

    margin-bottom: 40px;
    background-color: #fff;

    border-radius: 4px;

    -moz-border-radius: 4px;

    -webkit-border-radius: 4px;

}

.row {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.dumbotron {
    width: 700px;
    float: left;
    background-color: #e9ecef;
    height: fit-content;
    padding: 1.5rem .5rem 5.60rem;
    text-align: -webkit-match-parent;
    margin-top: 4.875rem;
}

.dumbotron > img {
    float: left;
    margin: 1.5rem;
}

.figure {
    display: inline-block;
}

figure {
    margin: 0 0 1rem;
}

/*centering and positioning main content*/
header, .full-width {
    width: 100%;
    background: transparent;
}

header.main-intro {
    float: left;
}

section.main {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    display: -ms-flexbox;
    flex-wrap: nowrap;
}

/*************begin navbar css *********/
.nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2f3036;
    height: 50px;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

/*Create a horizontal list with spacing*/
li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

/*Style for menu links*/
li a {
    display: block;
    min-width: 140px;
    font-weight: bolder;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }

    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }

    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
}

/** font families */
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h2.intro.secondary {
    font-size: 1.3rem;
}

/*let us define som global colors to use*/
.primary {
    color: #007bff;
}

.success {
    color: #28a745;
}

.info {
    color: #007bff;
}

.alert {
    color: #dc3545;
}

.dark {
    color: #343a40;
}

.secondary {
    color: #6c757d;
}

.copy {
    color: #ffffff;
    font-weight: bolder;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Open Sans";
    text-decoration: none;
    color: #fff;
    background: #d13a10d9;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox] {
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }

    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }

    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }
}

/*************end navbar css *********/

/*css to horizontal center two divs sid by side*/
.wrapper {
    display: table;
    table-layout: fixed;

    width: 100%;
    height: auto;
}

.wrapper div {
    display: table-cell;
    height: auto;
}


/*more responsive utilities*/
.responsive {
    max-width: 100%;
    height: auto;
    float: left;
}

/*styles for main list on home page*/
#mainlist > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    display: contents;
}

div#mainlist {
    padding: 0;
    margin: 0;
    position: relative;
    top: -6%;
}
div#mainlist > header {
    display: block;


}

#mainlist ul > li a {
    display: block;
    padding: 8px 16px;
  width: 200px;
    font-weight: 500;
    height: 20px;
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

#mainlist li  {
   display: block;
    padding: 8px 16px;

}
div.mainlist{
    margin: 0;
    font-size: smaller;
    text-align: left;
}

#mainlist.about-me {
    position: relative;
    top: 50px;
    font-size: initial;
    text-align: left;
    color: white;
}

/*footer styles*/
footer {
    position: fixed;
    text-align: right;

}

footer p {
    padding-right: 5rem;
}

/*about page styles*/
h2.intro.about.secondary {
    position: relative;
    line-height: 1rem;
    top: 41px;
    font-size: 1.1rem;
}

h2.intro.secondary {
    font-size: 1.3rem;
}

ul.about {
    position: relative;
    top: 20px;
}
.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:

            "col-text"
            "about-icon-header"
            "col-icon"

}
.grid img {
    float: left;
    margin: 1rem;
    max-width: 100%;
    height: auto;
}
.grid img::after {
    content: " <- EXCITING!";
    color: green;
}

.boring-text::after {
    content: " <- BORING";
    color: red;
}

section.about-columns {
    position: relative;
    top: 4rem;
    width: 100%;
}


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

[class*='col-'] {
    float: left;
}

.col-text {
    width: 66.66%;
}

.col-icon {
    width: 33.33%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

/*end about CSS*/
h2.about-icon-header {
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: inherit;
    color: #3366bb;
}
figcaption >img{
    position: relative;
    top: 20px;
    left: 20px;
}

.col-text > p {
    display: block;
}

/*begin table element styles*/
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

tbody tr:nth-child(odd) {
    background: #fefefe;
}

body tr:hover {
    background: #E1E1E1;
}

/*end table element styles*/

/*form styles*/
.contact-form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: .8rem auto;
    padding: 16px;
    background: #F7F7F7;
    display: inline-block;
}

.contact-form h1 {
    background: #19c589;
    border-bottom: 2px solid #19c589;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.contact-form input[type="submit"],
.contact-form input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #19c589;
    border-bottom: 2px solid #19c589;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover {
    background: #19c589;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: auto; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
p.column-text {
    padding-right: 20px;
}
/* The sidebar menu */
.sidenav {
    height: 286px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ce3a1fd9;
    color: white;
    font-size: initial;
    overflow: hidden;
    padding-top: 0;
    margin: 54px 14px 20px 0;
    border-radius: 2px;
}









