/*insert all css properties here*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, section,article {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2f3036;
    text-align: left;
    background-color: #fff;
}


a label {
    cursor: pointer;
}

h2.heading {
    /*margin-bottom: 1.2rem;*/
    position: relative;
    top: 1.5rem;
    left: 1rem;
    font-size: 1.4em;
}

th, td, p, input {
    font:14px Verdana;
}
table, th, td 
{
    border: solid 1px #DDD;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center!important;
}
th {
    font-weight:bold!important;
}
#showData{
    margin-top:50px;
    text-align: -webkit-center;
    margin-bottom:100px;
}
#jsonsection{
    margin-top:100px;
}

/*centering and positioning main content*/
header, .full-width {
    width: 100%;
    background: transparent;
}

header.main-intro {
    float: left;
}

section.main {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    display: -ms-flexbox;
    flex-wrap: nowrap;

}

/*************begin navbar css *********/
.nav-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2f3036;
    height: 50px;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

/*Create a horizontal list with spacing*/
li {
    display: inline-block;
    float: left;
    margin-right: 1px;
}

/*Style for menu links*/
li a {
    display: block;
    min-width: 140px;
    font-weight: bolder;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

/*Hover state for top level links*/
li:hover a {
    background: #19c589;
}

/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}

/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}

/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }

    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }

    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
}

/** font families */
p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h2.intro.secondary {
    font-size: 1.3rem;
}

/*let us define som global colors to use*/
.primary {
    color: #007bff;
}

.success {
    color: #28a745;
}

.info {
    color: #007bff;
}

.alert {
    color: #dc3545;
}

.dark {
    color: #343a40;
}

.secondary {
    color: #6c757d;
}

.copy {
    color: #ffffff;
    font-weight: bolder;
}

/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Open Sans";
    text-decoration: none;
    color: #fff;
    background: rgba(209, 58, 16, 0.85);
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox] {
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
    display: block;
}

/*Responsive Styles*/
@media screen and (max-width: 760px) {
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }

    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }

    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }

    /*Display 'show menu' link*/
    .show-menu {
        display: block;
    }
}

/*************end navbar css *********/

/*css to horizontal center two divs sid by side*/
.wrapper {
    display: table;
    table-layout: fixed;

    width: 100%;
    height: auto;
}

.wrapper div {
    display: table-cell;
    height: auto;
}

/*more responsive utilities*/
.responsive {
    max-width: 100%;
    height: auto;
    float: left;
}

/*styles for main list on home page*/
#mainlist > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    display: contents;
}

div#mainlist {
    padding: 0;
    margin: 0;
    position: relative;
    top: -6%;
}

div#mainlist > header {
    display: block;

}

#mainlist ul > li a {
    display: block;
    padding: 8px 16px;
    width: 200px;
    font-weight: 500;
    height: 20px;
    text-align: center;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
}

#mainlist li {
    display: block;
    padding: 8px 16px;

}

div.mainlist {
    margin: 0;
    font-size: smaller;
    text-align: left;
}

#mainlist.about-me {
    position: relative;
    top: 50px;
    font-size: initial;
    text-align: left;
    color: white;
}

/*footer styles*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;

}

footer p {
    padding-right: 5rem;
}

/*about page styles*/
h2.intro.about.secondary {
    position: relative;
    line-height: 1rem;
    top: 41px;
    font-size: 1.1rem;
}

h2.intro.secondary {
    font-size: 1.3rem;
}

ul.about {
    position: relative;
    top: 20px;
}

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: "col-text" "about-icon-header" "col-icon"

}

.grid img {
    float: left;
    margin: 1rem;
    max-width: 100%;
    height: auto;
}

.grid img::after {
    content: " <- EXCITING!";
    color: green;
}

.boring-text::after {
    content: " <- BORING";
    color: red;
}

section.about-columns {
    position: relative;
    top: 4rem;
    width: 100%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

[class*='col-'] {
    float: left;
}

.col-text {
    width: 66.66%;
}

.col-icon {
    width: 33.33%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    padding-right: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

/*end about CSS*/
h2.about-icon-header {
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: inherit;
    color: #3366bb;
}

figcaption > img {
    position: relative;
    top: 20px;
    left: 20px;
}

.col-text > p {
    display: block;
}

/*begin table element styles*/
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

tbody tr:nth-child(odd) {
    background: #fefefe;
}

body tr:hover {
    background: #E1E1E1;
}
h1.degree {
    font-size: 1.3rem;
    margin: 50px 50px 50px 0;
    color: #3366bb;
}

/*end table element styles*/

/*form styles*/
.contact-form {
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: .8rem auto;
    padding: 16px;
    background: #F7F7F7;
    display: inline-block;
}

.contact-form h1 {
    background: #19c589;
    border-bottom: 2px solid #19c589;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}

.contact-form input[type="text"],
.contact-form input[type="date"],
.contact-form input[type="datetime"],
.contact-form input[type="email"],
.contact-form input[type="number"],
.contact-form input[type="search"],
.contact-form input[type="time"],
.contact-form input[type="url"],
.contact-form textarea,
.contact-form select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="date"]:focus,
.contact-form input[type="datetime"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus,
.contact-form input[type="search"]:focus,
.contact-form input[type="time"]:focus,
.contact-form input[type="url"]:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.contact-form input[type="submit"],
.contact-form input[type="reset"],
.contact-form input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin-bottom: 2px;
    padding: 3%;
    background: #19c589;
    border-bottom: 2px solid #19c589;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    font-size: 140%;
    text-transform: capitalize;
}

.contact-form input[type="submit"]:hover,
.contact-form input[type="button"]:hover {
    background: #19c589;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #19c589;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.contact-form input:required,
textarea:required {
    /*box-shadow: 0 0 1px #ff0000;*/
    padding: 3%;
    border: 1px solid #ff0000;

}
.contact-form input:required + label {
    color: red;
}
.contact-form label {
    display: block;
}
.contact-form input + label {
    display: inline-block;
    margin-right: 10px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    height: auto; /* Should be removed. Only for demonstration */
}
column.intro-right{
    margin-right: 1px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

p.column-text {
    padding-right: 20px;
}

/* The sidebar menu */
.sidenav {
    height: 286px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0%;
    background-color: #ce3a1f;
    color: white;
    font-size: initial;
    overflow: hidden;
    padding-top: 0;
    margin: 54px 14px 20px 0;
    border-radius: 0;
    opacity:0.8;
}
.sidenav:hover{
    opacity:1;
}

    /* skills CSS starts here */

section#skills {
    position: relative;
    top: 50px;
}

section#skills > article p {
    font-size: 18px;
    line-height: 26px;
    width: 700px;
    max-width: 100%;
    margin: 20px auto 40px;
    font-weight: 300;
}

.bio-skills-list {
    width: auto;
    margin-right: 0px;
    overflow: hidden;
    padding-left: 20px;
}

.bio-skills-list > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
}

.bio-skills-list>ul {
    list-style-type: none;
    margin-right: 0px;
    overflow: hidden;
    margin-left: 0px;
    padding-left: 10px;
    float: left;
    position: relative;
    margin-bottom: 37px;
    text-align: left;
    display: grid;



}

.bio-skills-list2 > ul {
    list-style-type: none;
    margin-right: 0px;
    overflow: hidden;
    margin-left: 0px;
    padding-left: 10px;
    float: left;
    position: relative;
    margin-bottom: 37px;
    text-align: left;
    display: grid;
}

article.skills {
    width: 100%;
}

article h2 {
    position: relative;
    top: 24px;
    margin: 1.5rem;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: inherit;
    color: #3366bb
}

article h3 {

    margin: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    line-height: inherit;
    color: #3366bb
}
.separator {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.skills_separator {
    background-image: url(../images/separator_skills_960x50px.png);
}
div.content-960 {
    max-width: 960px;
}
.center-text {
    text-align: center !important;
}
.center-relative {
    margin-left: auto;
    margin-right: auto;
}
.block {
    display: block;
}
.skills p.info {
    font-size: 18px;
    line-height: 26px;
    width: 700px;
    max-width: 100%;
    margin: 20px auto 40px;
    font-weight: 300;
    color: #343a40 !important;
}
.skills .one_half {
    width: 48%;
    margin-left: 0px;
    padding-left: 10px;
    margin-right: 0;
    float: left;
    position: relative;
    margin-bottom: 37px;
    text-align: left;
}
section {
    width: 100%;
}
section#myskills >div{
    height: 100%;
}
section#myskills2 >div{
    height: 100%;
}
ul.skills-list {
    display: grid;
    text-align: left;
}
ul.skills-list li {
    margin: 2px 0 2px;
    height: 28px;
}

article {
    position: relative;
    top: 50%;
    left: 50%;
    padding: 1rem;
    text-align: center;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.left-half {
    background-color: #ffffff;
    float: left;
    width: 50%;
}
.right-half {
    background-color: #ffffff;
    float: left;
    width: 50%;

}
.row {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.progress {
    height:26px;
    margin:5px;
    background-size:100% 100%;
    width:400px;
    background: #ccc linear-gradient(to left, #438600, #8fd747) no-repeat var(--p, 0px) 0;

}
article.progress-section {
    position: relative;
    top: 158px;
}



/* skills CSS ends here */


/*************javascript Welcome Message*******************/
h3.welcome{
    background: #4CAF50;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}
.button {
    background-color: #365d95; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
hidden{
    display: none;
}
.container{
    display: flex;
    margin: auto;
}
/* end welcome message CSS

 */
/*flexbox justify content classes*/
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}
.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}









